html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Roboto";
}
/* .container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
} */

.header {
  background: #012D63;
  ;
}


.nav {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  color: #C7C7C7;
  font-size: 24px;
  font-weight: 300;

}

.nav-list {
  display: flex;
  gap: 29px;
  margin-top: 15px;
  color: #C7C7C7;

}
.nav-list li :hover{
color: #FFF;
}

.lang-switch {
  margin: 73px 165px;
}
/* .lang-switch a :hover{
color: #FFF;
} */

 

.features {
  display: flex;
  justify-content: center;

  gap: 40px;
  padding: 60px 20px;
  background: linear-gradient(to bottom, #250057, #092258);
  border-top: 2px solid #8e32c6;
  border-bottom: 2px solid #8e32c6;
}

.feature-item {
  text-align: center;
  max-width: 220px;
  color: white;
}

.hero {
  height: 858px;
  background-size: 1600px;
  background-position:center ;
  background-image: url("imgs/nike-bg.png");
  background-repeat: no-repeat;
  padding-top: 200px;
} 
 

.hero-title {
  color: #FFF;
  font-family: "Playfair Display";
  font-size: 144px;
  font-weight: 400;
  margin-left: 164px;
  
}

.hero-subtitle {
  color: #FFF;
  font-family: "Playfair Display";
  font-size: 72px;
  font-weight: 400;
  margin-left: 164px;
}

.hero-description {
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 30px;
  font-weight: 400;
  margin-left: 164px;
  gap: 12px;
}
.hero-btn {
  width: 254px;
  height: 67px;
  background-color: #8E32C6;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  margin-left: 164px;
}